node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# js-related
server.json

# python-related
project.db
project.db-journal
venv
server/temp/
__pycache__
.env

# macOS
.DS_Store
